#bbpic {
  width: 80%;
  image-orientation: center;
}
#apt {
  align-items: center;
  text-align: center;
}
h1 {
  text-align: center;
  color: black;
  font-style: italic;
}
body {
  background-color: rgb(198, 233, 198);
}
#apt {
  background-color: rgb(157, 209, 157);
  background-image: url(../img/leaf.jpg);
}
.question {
  background-color: rgb(198, 233, 198);
  font-size: 26px;
  text-align: center;
}
.lshPic {
  width:90%;
  float: center;
  margin: 10px;
}
.examplePhotos {
  background-image: url(../img/leaf.jpg);
}